* {
	transition: all .5s;
	box-sizing:border-box;
}
body {
	font: 1em 'PT Sans', Arial, Helvetica, sans-serif;
	background: #d5e1e3;
	color: #333;
}

.header {
text-align: center
}
.thumb img {
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
}
.row div img{
  border-radius: 17px;
}
.row {
	margin-bottom: 20px;
}
.row div img:hover {
  cursor: pointer;
}

.del { display: none; }
.del:not(:checked) + label + * { display: none; }
 /* тут редактируем вид кнопки */
.del:not(:checked) + label,
.del:checked + label {
display: inline-block;
padding: 5px;
border-radius: 50%;
height:10px;
width:10px;
color: #fff;
opacity: .3;
background: #283952;
cursor: pointer;
}
.del:checked + label {
background: #e36443;
opacity: 1;
}
hr {
  margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #333;
}

strong.Number {
	color: #a80335;
}